body {
  font-family:"Lato",sans-serif;
  margin:auto;
  text-align:center;
  
  background-image:url(https://d262ilb51hltx0.cloudfront.net/max/2000/1*4nsOUmIMHNgKMCZW5fJJyA.jpeg);
  background-size: 1920px;
  background-repeat: no-repeat;
}
.introduction {
  color: #BFAD61;
  text-shadow: 0px 0px 0.3em #000;
}
.introduction p{
  font-size: 2em;
}
.content {
  margin-top:40px;
  color: #ffffff;
  text-shadow: 0px 0px 0.3em #000;
}
#weatherpic, #temperature{
  display:inline-block;
}
#temperature{
  display:inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.information li {
  font-size:1.4em;
  display:inline-block;
  background-color:rgba(255,255,255,0.6);
  border-radius:5px;
  padding:30px 20px 30px 20px;
  box-shadow: 5px 5px .1em rgba(0,0,0,0.4);
}